* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    position: fixed;
    width: 100%;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 1000;
}

.nav-links {
    list-style-type: none;
    display: flex;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
}

.section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-size: cover;
}

#section1 {
    background-color: #9d2d2d; /* Background color for section 1 */
}

#section2 {
    background-color: #282c8a; /* Background color for section 2 */
}

#section3 {
    background-color: #73b67a; /* Background color for section 3 */
}

#section4 {
    background-color: #d97bc8; /* Background color for section 4 */
}

#section5 {
    background-color: #a3af7b; /* Background color for section 5 */
}

.content {
    text-align: center;
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

select, button {
    padding: 10px;
    margin: 10px;
    font-size: 1em;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
